{
  "plugins": [
    "transform-object-rest-spread"
  ],
  "presets": [
    [
      "latest",
      "stage-2"
    ]
  ],
  "env": {
    "dist": {
      "presets": ["minify"]
    },
    "umd": {
      "plugins": [
        [
          "transform-es2015-modules-umd",
          {
            "globals": {
              "index": "rhh",
              "react": "React"
            },
            "exactGlobals": true
          }
        ]
      ]
    }
  }
}
